= form_for @payment_history do |f|
  - if @payment_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment_history.errors.count, "error")} prohibited this payment_history from being saved:"
      %ul
        - @payment_history.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :amortization_id
    = f.number_field :amortization_id
  .field
    = f.label :current_balance
    = f.text_field :current_balance
  .field
    = f.label :interest
    = f.text_field :interest
  .field
    = f.label :payment
    = f.text_field :payment
  .field
    = f.label :new_balance
    = f.text_field :new_balance
  .field
    = f.label :mode_of_payment
    = f.text_field :mode_of_payment
  .field
    = f.label :check_bank
    = f.text_field :check_bank
  .field
    = f.label :check_no
    = f.text_field :check_no
  .field
    = f.label :bank_account_id
    = f.number_field :bank_account_id
  .field
    = f.label :ar_account_id
    = f.number_field :ar_account_id
  .field
    = f.label :penalty
    = f.text_field :penalty
  .field
    = f.label :processing
    = f.text_field :processing
  .field
    = f.label :reservation
    = f.text_field :reservation
  .field
    = f.label :equity
    = f.text_field :equity
  .field
    = f.label :others
    = f.text_field :others
  .field
    = f.label :advance_payment_to_principal
    = f.text_field :advance_payment_to_principal
  .actions
    = f.submit 'Save'
