%h1 Listing payment_histories

%table#example.table.table-striped.table-bordered.nowrap
  %thead
    %tr
      %th Amortization

      %th Principal
      %th Interest
      %th Payment
      %th balance
      %th New balance
      %th Mode of payment
      %th Check bank
      %th Check no
      %th Bank account
      %th Ar account
      %th Penalty
      %th Processing
      %th Reservation
      %th Equity
      %th Others
      %th Advance payment to principal
      %th
      %th
      %th

  %tbody
    - @payment_histories.each do |payment_history|
      %tr
        %td= payment_history.amortization_id
        %td= payment_history.principal
        %td= payment_history.interest
        %td= payment_history.payment
        %td= payment_history.current_balance
        %td= payment_history.new_balance
        %td= payment_history.mode_of_payment
        %td= payment_history.check_bank
        %td= payment_history.check_no
        %td= payment_history.bank_account.name
        %td= payment_history.ar_account.name
        %td= payment_history.penalty
        %td= payment_history.processing
        %td= payment_history.reservation
        %td= payment_history.equity
        %td= payment_history.others
        %td= payment_history.advance_payment_to_principal
        %td= link_to 'Show', payment_history
        %td= link_to 'Edit', edit_payment_history_path(payment_history)
        %td= link_to 'Destroy', payment_history, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Payment history', new_payment_history_path

:javascript
  $('#example').DataTable({
    dom: '<"html5buttons"B>lTfgtip',
    buttons: [
        { extend: 'copy'},
        {extend: 'csv'},
        {extend: 'excel', title: 'Customers'},

        {extend: 'print',
            customize: function (win){
                $(win.document.body).addClass('white-bg');
                $(win.document.body).css('font-size', '10px');

                $(win.document.body).find('table')
                        .addClass('compact')
                        .css('font-size', 'inherit');
            }
        }
    ],

    responsive: true  
  });