.main.main-content.col-lg-10.p-0.offset-sm-1
  .main-content-container.container-fluid.px-4
    .page-header.row.no-gutters.py-4
      .col-6.col-sm-6.text-center.text-sm-left.mb-0
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title Add New User
    .col-main
      = form_for 'user', url: ('/admins/create_user') do |f|
        .field
          = f.label :email, :class=>"text-muted"
          = f.text_field :email, {:required => true, :class => "form-control"}
        .field
          = f.label :password, :class=>"text-muted"
          = f.text_field :password, {:minlength => '8', :required => "true",:class => "form-control"}
        
        .fields
          = f.label :role, :class=>"text-muted"
          = f.select :role, options_for_select([[ 'Cashier', 'cashier'],['Bookkeeper','bookkeeper'],['Boss','boss']]),{},:class => 'form-control'
        .field
          = f.number_field :user_id, {:hidden => true, :value => current_user.id}
        %br
        .actions
          = f.submit 'Save',:class => "mt-3 col-md-3 btn btn-sm btn-primary float-right"

