= form_for @amortization do |f|
  - if @amortization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@amortization.errors.count, "error")} prohibited this amortization from being saved:"
      %ul
        - @amortization.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :customer
    = f.text_field :customer,{:required => true, :class => "form-control"}
  .field
    = f.label :blocklot
    = f.text_field :blocklot,{:required => true, :class => "form-control"}
  .field
    = f.label :contract_price
    = f.text_field :contract_price,{:required => true, :class => "form-control"}
  .field
    = f.label :processing_fees
    = f.text_field :processing_fees,{:required => true, :class => "form-control"}
  .field
    = f.label :downpayment
    = f.text_field :downpayment,{:required => true, :class => "form-control"}
  .field
    = f.label :terms
    = f.number_field :terms,{:required => true, :class => "form-control"}
  .field
    = f.label :interest
    = f.text_field :interest,{:placeholder => "In %",:required => true, :class => "form-control"}
  / .field
  /   = f.label :monthly_amort
  /   = f.text_field :monthly_amort
  .field
    = f.label :contract_date
    = f.date_select :contract_date,{:required => true, :class => "form-control"}
  .actions
    = f.submit 'Save'
