.main.main-content.col-lg-10.p-0.offset-sm-0.ml-3
  .main-content-container.container-fluid
    / Page Header
    .page-header.row.no-gutters.py-4
      .col-6.col-sm-4.text-center.text-sm-left.mb-0
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title A/R Aging Summary
      .col-md-8
        = link_to 'View Amortization Table', amortizations_path, :class=>"mt-3 btn btn-sm btn-primary mr-1 float-right"
    / End Page Header
    / Default Light Table
    .row
      .col
        = form_for("up", url: "/aging_reports/", method: "get") do |g|
          .row#datepicker_form_row.ml-1.mb-4
            = g.label "Date Filter", :class=>"label-date"
            .col-date
              = g.date_field :start_date, :class=> "form-control"
              .col-md-2
                .actions
                  = g.submit "Submit", class: "btn btn-primary btn-sm"

        - if params['ar_account_id'].present?
          = link_to 'Show All', aging_reports_path, :class=>"mt-3 text-primary mr-1"
        %table.table.table-striped.table-bordered#exportables{:role => 'datatable'}
          %thead
            %tr
              %th Name
              %th AR account
              %th Balance
              %th 1-30 Days
              %th 31-60 Days
              %th 61-90 Days
              %th >90 Days
              %th Total


          %tbody
            - @data.each do |d|
              %tr
                %td
                  = format_num d[:name]
                %td
                  = link_to d[:ar_account].name, "/aging_reports/?ar_account_id=#{d[:ar_account].id}"
                %td
                  = format_num d[:cur]
                %td
                  = format_num d[:month1]
                %td
                  = format_num d[:month2]
                %td
                  = format_num d[:month3]
                %td
                  = format_num d[:month4]
                %td
                  = format_num d[:total]

 