.main.main-content.col-lg-10.p-0.offset-sm-0.ml-3
  .main-content-container.container-fluid
    / Page Header
    .page-header.row.no-gutters.py-4
      .col-6.col-sm-4.text-center.text-sm-left.mb-0
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title Summary of Collections
      .col-md-8
        = link_to 'View Amortization Table', amortizations_path, :class=>"mt-3 btn btn-sm btn-primary mr-1 float-right"
    / End Page Header
    / Default Light Table
    .row
      .col
        = form_for("up", url: "/summary_collections/?customer_id=#{params['customer_id']}&start_date=#{params['id']}", method: "get") do |g|
          .row#datepicker_form_row.ml-1.mb-4
            = g.label "Date Filter", :class=>"label-date"
            .col-date
              .col-md-2
                = g.date_field :start_date, :class=> "form-control"
              .col-md-2
                = g.date_field :end_date, :class=> "form-control"
              .col-md-2
                .actions
                  = g.submit "Submit", class: "btn btn-primary btn-sm"

        - if params['ar_account_id'].present?
          = link_to 'Show All', summary_collections_path, :class=>"mt-3 text-primary mr-1"
        %table.table.table-striped.table-bordered#exportables{:role => 'datatable'}
          %thead
            %tr
              %th Num
              %th AR
              %th Date Deposited
              %th Name
              %th Memo
              %th Amount


          %tbody
            - total = 0
            - @customer_ledger_deposited.each do |ledger|
              %tr
                %td
                  = ledger.or_num
                %td
                  = link_to ledger.ar_name, "/summary_collections/?ar_account_id=#{ledger.ar_account_id}"
                %td
                  = ledger.deposited_date
                %td= ledger.amortization.customer
                %td= ledger.deposited_memo
                %td
                  - if ledger.downpayment.to_i > 0 || ledger.processing_fee.to_i > 0
                    = format_num(ledger.downpayment + ledger.processing_fee) 
                    - total += (ledger.downpayment + ledger.processing_fee)
                  - else
                    = format_num(ledger.interest + ledger.principal)
                    - total += (ledger.interest + ledger.principal)
            %tr
              %td Total
              %td
              %td
              %td
              %td
              %td
                = format_num(total)
              

 