= form_for @setting do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :key
    = f.text_field :key, {disabled: "true"}
  .field
    = f.label :text_value
    = f.text_field :text_value
  .field
    = f.label :image_value
    = f.file_field :image_value
  .actions
    = f.submit 'Save'
