- content_for :title, 'Settings'
- content_for :breadcrumb, "Stores"
.main-content-container.container-fluid.px-4
  .page-header.no-gutters.py-4
    .col-12.text-center.text-sm-left.mb-0
      .col-6.float-left
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title.col-6= t('settings.index.settings')
      .col-6.float-right
      / = link_to new_setting_path, :class => "btn btn-primary float-right mt-3 btn-sm ", "data-placement" => "bottom", "data-toggle" => "tooltip", title: t('settings.index.add_tooltip') do
      / %b Add Setting
  - if @settings.empty?
    .widget.widget-content.clearfix
      .helper-notification
        %p= t('settings.index.no_records')
  - else
  %table.table#myTable.card
    %thead
      %tr
        %th= t('settings.index.key')
        %th= t('settings.index.text_value')
        %th= t('settings.index.image_value')
        %th Action
    %tbody
      - @settings.each do |setting|
        %tr
          %td
            = setting.key
          %td
            = setting.text_value
          %td.add
            = setting.image_value
          %td
            .dropdown.dropdown-action
              %a.action-icon{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-ellipsis-v
              .dropdown-menu.dropdown-menu-right
                = link_to edit_setting_path(setting), :class => "dropdown-item" do 
                  %i.fa.fa-pencil.m-r-5
                  #text
                    Edit
                = link_to  setting, method: :delete, data: { confirm: 'Are you sure?' }, :class => "dropdown-item" do 
                  %i.fa.fa-remove.m-r-5
                  #text
                    Delete