
%section#menu-list
.list-group
  .stickyhero-tabs-container.scrollbar
    - @categories.each do |category|
      %a.list-group-item.list-group-item-action{:href => "##{category.name.gsub(" ", "")}"} #{category.name}

- @categories.each do |category|
  %div{id: category.name.gsub(" ", "")}
  
  %h6.cat-name  #{category.name}
  - category.products.order("name asc").each do |product|
    .container
      .row
        .col-md-6
          = "#{product.name} (₱#{product.price})"
        .col-md-4
          #qty_buttons
            %button#sub.sub{:type => "button"} -
            %input.qty{:min => "0", :type => "text", :value => "0", :class => 'form-control'}/
            %button#add.add{:type => "button"} +

:javascript
  $('.add').click(function () {
    $(this).prev().val(+$(this).prev().val() + 1);
  });
  $('.sub').click(function () {
    if ($(this).next().val() >= 1) {
      if ($(this).next().val() >= 1) $(this).next().val(+$(this).next().val() - 1);
    }
  });

