
%section#menu-list
.list-group
  .stickyhero-tabs-container.scrollbar
    - @categories.each do |category|
      %a.list-group-item.list-group-item-action{:href => "##{category.name.gsub(" ", "")}"} #{category.name}

- @categories.each do |category|
  %div{id: category.name.gsub(" ", "")}
  
  %h6.cat-name  #{category.name}
  - category.products.order("name asc").each do |product|
    - id = product.name.downcase.gsub(/[^0-9a-z]/i, '-')
    .container
      .row
        .col-md-8
          = "#{product.name} (₱#{product.price})"
        .col-md-4
          .sp-quantity
            .sp-plus.fff
              %button.ddd{:href => "#"} +
            .sp-input
              %input.quntity-input{:type => "text", :value => "0"}/
            .sp-minus.fff
              %button.ddd{:href => "#"} -

:javascript
  $(".ddd").on("click", function () {
    var $button = $(this);
    var oldValue = $button.closest('.sp-quantity').find("input.quntity-input").val();

    if ($button.text() == "+") {
      var newVal = parseFloat(oldValue) + 1;
    } else {
      // Don't allow decrementing below zero
      if (oldValue > 0) {
        var newVal = parseFloat(oldValue) - 1;
      } else {
        newVal = 0;
      }
    }
    $button.closest('.sp-quantity').find("input.quntity-input").val(newVal);
  });
