- content_for :title, 'Orders'
- content_for :breadcrumb, "Stores"
.main-content-container.container-fluid.px-4
  .page-header.no-gutters.py-4
    .col-12.text-center.text-sm-left.mb-0
      .col-6.float-left
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title.col-6= t('orders.index.orders')
      .col-12.float-left
        %ul#myTab.nav.nav-tabs.mt-3{:role => "tablist"}
          %li.nav-item
            %a#pending-tab.nav-link.active{"aria-controls" => "pending", "aria-selected" => "true", "data-toggle" => "tab", :href => "#pending", :role => "tab"} Pending
          %li.nav-item
            %a#processing-tab.nav-link{"aria-controls" => "processing", "aria-selected" => "false", "data-toggle" => "tab", :href => "#processing", :role => "tab"} Processing
          %li.nav-item
            %a#en_route-tab.nav-link{"aria-controls" => "en_route", "aria-selected" => "false", "data-toggle" => "tab", :href => "#en_route", :role => "tab"} En Route
          %li.nav-item
            %a#completed-tab.nav-link{"aria-controls" => "completed", "aria-selected" => "false", "data-toggle" => "tab", :href => "#completed", :role => "tab"} Completed
        #myTabContent.tab-content
          #pending.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
            - if @orders.where(status: 'Pending').empty?
              .widget.widget-content.clearfix
                .helper-notification
                  %p= t('orders.index.no_records')
            - else
              %table.table#myTable.card.orders.table-responsive
                %thead
                  %tr
                    %th= t('orders.index.id')
                    %th= t('orders.index.customer_name')
                    %th= t('orders.index.contact_no')
                    %th= t('orders.index.address')
                    %th= t('orders.index.delivery_option')
                    %th= t('orders.index.payment_option')
                    %th= t('orders.index.reference_number')
                    %th= t('orders.index.message')
                    %th= t('orders.index.actions')
                %tbody
                  - @orders.where(status: 'Pending').each do |order|
                    %tr
                      %td
                        = order.id.split("-").first
                      %td
                        = order.custumer_name
                      %td
                        = order.contact_no
                      %td
                        = order.address
                      %td
                        = order.delivery_option
                      %td
                        = order.payment_option
                      %td
                        = order.reference_number
                      %td
                        = order.message
                      %td
                        = link_to 'Items', order
                        |
                        = link_to 'Process Order', process_order_path(order.id), method: :post
          #processing.tab-pane.fade{"aria-labelledby" => "processing-tab", :role => "tabpanel"}
            - if @orders.where(status: 'Processing').empty?
              .widget.widget-content.clearfix
                .helper-notification
                  %p= t('orders.index.no_records')
            - else
              %table.table#myTable.card.processing
                %thead
                  %tr
                    %th= t('orders.index.id')
                    %th= t('orders.index.customer_name')
                    %th= t('orders.index.contact_no')
                    %th= t('orders.index.address')
                    %th= t('orders.index.delivery_option')
                    %th= t('orders.index.payment_option')
                    %th= t('orders.index.message')
                    %th= t('orders.index.actions')
                %tbody
                  - @orders.where(status: 'Processing').each do |order|
                    %tr
                      %td
                        = order.id.split("-").first
                      %td
                        = order.custumer_name
                      %td
                        = order.contact_no
                      %td
                        = order.address
                      %td
                        = order.delivery_option
                      %td
                        = order.payment_option
                      %td
                        = order.message
                      %td
                        = link_to 'Items', order
                        |
                        = link_to 'Assign Driver', edit_order_path(order)
                            

          #en_route.tab-pane.fade{"aria-labelledby" => "en_route-tab", :role => "tabpanel"}
            - if @orders.where(status: 'En route').empty?
              .widget.widget-content.clearfix
                .helper-notification
                  %p= t('orders.index.no_records')
            - else
              %table.table#myTable.card.route
                %thead
                  %tr
                    %th= t('orders.index.id')
                    %th= t('orders.index.customer_name')
                    %th= t('orders.index.contact_no')
                    %th= t('orders.index.address')
                    %th= t('orders.index.delivery_option')
                    %th= t('orders.index.payment_option')
                    %th= t('orders.index.driver')
                    %th= t('orders.index.message')
                    %th= t('orders.index.actions')
                %tbody
                  - @orders.where(status: 'En route').each do |order|
                    %tr
                      %td
                        = order.id.split("-").first
                      %td
                        = order.custumer_name
                      %td
                        = order.contact_no
                      %td
                        = order.address
                      %td
                        = order.delivery_option
                      %td
                        = order.payment_option
                      %td
                        = order.driver.name
                      %td
                        = order.message
                      %td
                        = link_to 'Items', order
                        |
                        = link_to 'Track', "/orders/track_order/#{order.id}"
                        |
                        = link_to 'Complete Order', complete_order_path(order.id), method: :post

          #completed.tab-pane.fade{"aria-labelledby" => "completed-tab", :role => "tabpanel"}
            - if @orders.where(status: 'Completed').empty?
              .widget.widget-content.clearfix
                .helper-notification
                  %p= t('orders.index.no_records')
            - else
              %table.table#myTable.card.completed
                %thead
                  %tr
                    %th= t('orders.index.id')
                    %th= t('orders.index.customer_name')
                    %th= t('orders.index.contact_no')
                    %th= t('orders.index.address')
                    %th= t('orders.index.delivery_option')
                    %th= t('orders.index.payment_option')
                    %th= t('orders.index.driver')
                    %th= t('orders.index.message')
                %tbody
                  - @orders.where(status: 'Completed').each do |order|
                    %tr
                      %td
                        = order.id.split("-").first
                      %td
                        = order.custumer_name
                      %td
                        = order.contact_no
                      %td
                        = order.address
                      %td
                        = order.delivery_option
                      %td
                        = order.payment_option
                      %td
                        = order.driver.name
                      %td
                        = order.message
:javascript 
  $(document).ready( function () {
    $('.order').DataTable();
    $('.processing').DataTable();
    $('.route').DataTable();
    $('.completed').DataTable();
  });  