- content_for :title, 'Orders'
- content_for :breadcrumb, "Stores"
.main-content-container.container-fluid.px-4
  .page-header.no-gutters.py-4
    .col-12.text-center.text-sm-left.mb-0
      .col-6.float-left
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title.col-6= t('orders.index.orders')
      
    - if @orders.empty?
      .widget.widget-content.clearfix
        .helper-notification
          %p= t('orders.index.no_records')
    - else
      .table-responsive.card.card-small.mt-5
        .card-body.p-0.pb-3.text-center
          %table.table.table-striped.table-hover
            %thead
              %tr
                %th= t('orders.index.customer_name')
                %th= t('orders.index.contact_no')
                %th= t('orders.index.address')
                %th= t('orders.index.delivery_option')
                %th= t('orders.index.payment_option')
                %th= t('orders.index.reference_number')
                %th= t('orders.index.message')
                %th
            %tbody
              - @orders.each do |order|
                %tr
                  %td
                    = order.custumer_name
                  %td
                    = order.contact_no
                  %td
                    = order.address
                  %td
                    = order.delivery_option
                  %td
                    = order.payment_option
                  %td
                    = order.reference_number
                  %td
                    = order.message
                  %td
                    = link_to 'Items', order