
- content_for :title, 'merchants'
- content_for :breadcrumb, "Stores"

.main-content-container.container-fluid.px-4
  .page-header.no-gutters.py-4
    .col-12.text-center.text-sm-left.mb-0
      .col-6.float-left
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title.col-6= t('merchants.index.merchants')
      .col-6.float-right
      = link_to new_product_path, :class => "btn btn-primary float-right mt-3 btn-sm ", "data-placement" => "bottom", "data-toggle" => "tooltip", title: t('merchants.index.add_tooltip') do
        %b Add Merchants
    - if @merchants.empty?
      .widget.widget-content.clearfix
        .helper-notification
          %p= t('merchants.index.no_records')
    - else
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th= t('merchants.index.name')
              %th= t('merchants.index.logo')
          %tbody
            - @merchants.each do |merchant|
              %tr
                %td
                  = merchant.name
                %td
                  = merchant.logo
                %td
                  = link_to 'Show', merchant
                  = link_to 'Edit', edit_merchant_path(merchant)
                  = link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $(document).ready(function(){
    $('#exportables').DataTable({
      dom: 'Blfrtip',
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      buttons: [
        {extend: 'excel', 
        exportOptions: {
          title: 'Merchants',
          columns: 'th:not(:last-child)'
        }
        },
        {extend: 'print',
          title: 'Merchants',
          orientation: 'landscape',
          pageSize: 'LEGAL',
          exportOptions: {
          columns: 'th:not(:last-child)'
        },
          customize: function (win){
          $(win.document.body).addClass('white-bg');
          $(win.document.body).css('font-size', '10px');
          $(win.document.body).find('.actions').css('display', 'none');
          
          }
        }
      ],
      });
      $(".buttons-print").addClass("btn-dt");
      $(".buttons-html5").addClass("btn-dt");
      
    $("table[role='datatable']").each(function(){
      $(this).DataTable({
        processing: true,
        responsive: true       
      });
    });

  })