= form_for @variant do |f|
  - if @variant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@variant.errors.count, "error")} prohibited this variant from being saved:"
      %ul
        - @variant.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :image
    = f.file_field :image, id: :variant_image
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.hidden_field :product_id,:value => "#{params['id']}", :class => 'form-control'

  .actions
    = f.submit 'Save'
