= form_for @promo do |f|
  - if @promo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@promo.errors.count, "error")} prohibited this promo from being saved:"
      %ul
        - @promo.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :image
    = f.file_field :image, id: :promo_image
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :desc
    = f.text_field :desc
  .field
    = f.label :sub_desc
    = f.text_field :sub_desc
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
