- content_for :title, 'Feautured'
- content_for :breadcrumb, "Stores"
.main-content-container.container-fluid.px-4
	.page-header.no-gutters.py-4
		.col-12.text-center.text-sm-left.mb-0
			.col-6.float-left
				%span.text-uppercase.page-subtitle Overview
				%h3.page-title.col-6 Featured
			.col-6.float-right
			= link_to new_promo_path, :class => "btn btn-primary float-right mt-3 btn-sm ", "data-placement" => "bottom", "data-toggle" => "tooltip", title: t('promos.index.add_tooltip') do
				%b Add feature
	- if @promos.empty?
		.widget.widget-content.clearfix
			.helper-notification
				%p= t('promos.index.no_records')
	- else
		%table.table#myTable.card
			%thead
				%tr
					%th= t('promos.index.title')
					%th= t('promos.index.image')
					%th= t('promos.index.desc')
					%th= t('promos.index.sub_desc')
					%th Actions
			%tbody
				- @promos.each do |promo|
					%tr
						%td
							= promo.title
						%td.add
							= promo.image
						%td
							= promo.desc
						%td
							= promo.sub_desc
						%td
							.dropdown.dropdown-action
								%a.action-icon{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
									%i.fa.fa-ellipsis-v
								.dropdown-menu.dropdown-menu-right
									= link_to edit_promo_path(promo), :class => "dropdown-item" do 
										%i.fa.fa-pencil.m-r-5
										#text
											Edit
									= link_to  promo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "dropdown-item" do 
										%i.fa.fa-remove.m-r-5
										#text
											Delete