- content_for :title, 'order_items'
- content_for :breadcrumb, "Stores"
.twelvecol
  .page-header
    = link_to new_order_item_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: t('order_items.index.add_tooltip') do
      %i.icon-plus
    %h2.widget.widget-header= t('order_items.index.order_items')
  - if @order_items.empty?
    .widget.widget-content
      .helper-notification
        %p= t('order_items.index.no_records')
        %i.icon-lab
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th= t('order_items.index.variant_id')
            %th= t('order_items.index.quantity')
            %th= t('order_items.index.cancel_option')
        %tbody
          - @order_items.each do |order_items|
            %tr
              %td
                = order_items.variant.name
              %td
                = order_items.quantity
              %td
                = order_items.cancel_option
              %td
                = link_to 'Show', order_items
                = link_to 'Edit', edit_order_items_path(order_items)
                = link_to 'Destroy', order_items, method: :delete, data: { confirm: 'Are you sure?' }

