.main.main-content.col-lg-10.p-0.offset-sm-0.ml-3
  .main-content-container.container-fluid
    / Page Header
    .page-header.row.no-gutters.py-4
      .col-6.col-sm-4.text-center.text-sm-left.mb-0
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title Amortization
      .col-md-8
        = link_to 'New Amortization', new_amortization_path, :class=>"mt-3 btn btn-sm btn-primary mr-1 float-right btn-create"
    / End Page Header
    / Default Light Table
    .row
      .col
        %table.table.table-striped.table-bordered#exportables1{:role => 'datatable'}
          %thead
            %tr
              %th Customer
              %th Blocklot
              %th Contract price
              %th Processing fees
              %th Downpayment
              %th Terms
              %th Interest
              %th Monthly amort
              %th Contract date
              %th.actions Actions


          %tbody
            - @amortizations.each do |amortization|
              %tr
                %td= amortization.customer
                %td= amortization.blocklot
                %td= format_num(amortization.contract_price)
                %td= format_num(amortization.processing_fees)
                %td= format_num(amortization.downpayment)
                %td= amortization.terms
                %td= format_num(amortization.interest)
                %td= format_num(amortization.monthly_amort)
                %td= amortization.contract_date
                %td 
                  = link_to '', amortization, :class => "far fa-eye"
                  = link_to '', edit_amortization_path(amortization), :class => "far fa-edit", :alt => "Edit Data"
                  = link_to '', amortization, method: :delete, data: { confirm: 'Are you sure?' }, :class => "far fa-trash-alt"
                  = link_to '', "/subsidiary_ledgers/?customer_id=#{amortization.id}", :class => "far fa-address-book"
