.main.main-content.col-lg-10.p-0.offset-sm-1.profile-hidden
  .main-content-container.container-fluid.px-4
    / Page Header
    .page-header.row.no-gutters.py-2.mt-3
      .col-6.col-sm-4.text-center.text-sm-left.mb-0
        %span.text-uppercase.page-subtitle Overview
        .form-row
          .form-group
          %span.profile-name
            = @amortization.customer 
          %h4.mt-1 's Profile
      / Add Payment Modal
      .col-md-8
        .form-row.float-right.mt-3
          .form-group
          %button.btn.btn-sm.btn-primary.mr-1.float-right.show.btn-create.btn-ledger
            View Profile
          = link_to 'View Subsidiary Ledger', "/subsidiary_ledgers/?customer_id=#{params['id']}", :class => "btn btn-sm btn-primary .btn-ledger"

        -#%button.mt-3.btn.btn-sm.btn-primary.mr-1.float-right{"data-target" => "#amorModal", "data-toggle" => "modal"}
          -#Add Payment
      #amorModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            = simple_form_for("customer_payments", url: "/amortizations/process_pay", method: "post") do |f|
              .modal-header
                %h5#exampleModalLabel.modal-title.new_keyword_modal_title Add Payment
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
              .modal-body
                .container-fluid
                  .row
                    .col-md-6
                      .field
                        = f.hidden_field "id", :value => "#{params[:id]}"
                      .field
                        = f.label :payment, :class=>"text-muted"
                        = f.number_field :payment, :class=>"form-control"
                      .field
                        = f.label :mode_of_payment, :class=>"text-muted"
                        = f.select :mode_of_payment, options_for_select([["Cash"],["Check"]]), {}, :class=>"form-control" 
                      .field
                        = f.label :check_bank, :class=>"text-muted"
                        = f.text_field :check_bank, :class=>"form-control"
                      .field
                        = f.label :check_no, :class=>"text-muted"
                        = f.text_field :check_no, :class=>"form-control"
                      .field
                        = f.label :bank_account_id, :class=>"text-muted"
                        = f.select :bank_account_id, options_for_select(BankAccount.all.order(:name).collect{ |u| [u.name, u.id]}), {:required => "true"}, :class=>"form-control"
                      .field
                        = f.label :ar_account_id, :class=>"text-muted"
                        = f.select :ar_account_id, options_for_select(ArAccount.all.order(:name).collect{ |u| [u.name, u.id]}),{:required => "true"}, :class=>"form-control"
                        
                    .col-md-6
                      .field
                        = f.label :penalty, :class=>"text-muted"
                        = f.number_field :penalty, :class=>"form-control" 
                      .field
                        = f.label :processing, :class=>"text-muted"
                        = f.number_field :processing, :class=>"form-control"
                      .field
                        = f.label :reservation, :class=>"text-muted"
                        = f.number_field :reservation, :class=>"form-control"
                      .field
                        = f.label :others, :class=>"text-muted"
                        = f.number_field :others, :class=>"form-control"
                      .field
                        = f.label :equity, :class=>"text-muted"
                        = f.number_field :equity, :class=>"form-control"
                      .field
                        = f.label :advance_payment_to_principal, :class=>"text-muted"
                        = f.number_field :advance_payment_to_principal, :class=>"form-control"
              .modal-footer
                .actions
                  = f.submit 'Save', :class=>"btn btn-sm btn-primary col-12 mt-3"   
    .slideout
      .row
        .col-lg-12.mb-4
          .card.card-small.mb-4
            .card-header.border-bottom
              %h6.m-0 Account Details
              %button.btn.btn-sm.btn-primary.float-right.hide{:type => "button"} Close
            %ul.list-group.list-group-flush
              %li.list-group-item.p-3
                .row
                  .col-sm-12.mb-3
                    .form-row
                      .col-md-6
                        %label.text-muted Customer:
                        %input.form-control#pro{ :value=> "#{@amortization.customer}", :disabled=> "true" }
                      .col-md-6
                        %label.text-muted Blocklot:
                        %input.form-control#pro{ :value=> "#{@amortization.blocklot}", :disabled=> "true" }
                    .form-row
                      .col-md-6
                        %label.text-muted Selling price:
                        %input.form-control#pro{ :value=> "#{format_num (@amortization.contract_price - @amortization.processing_fees)}", :disabled=> "true" }
                      .col-md-6
                        %label.text-muted Processing fees:
                        %input.form-control#pro{ :value=> "#{format_num @amortization.processing_fees}", :disabled=> "true" }
                    .form-row
                      .col-md-12
                        %label.text-muted Contract Price:
                        %input.form-control#pro{ :value=> "#{format_num @amortization.contract_price}", :disabled=> "true" }
                      .col-md-6
                        %label.text-muted Contract Date:
                        %input.form-control#pro{ :value=> "#{@amortization.contract_date}", :disabled=> "true" }
                      .col-md-6
                        %label.text-muted Amortization Start Date:
                        %input.form-control#pro{ :value=> "#{@amortization.amortization_start_date}", :disabled=> "true" }
                    %hr
                    .form-row
                      .col-md-6
                        %label.text-muted Processing fees:
                        %input.form-control#pro{ :value=> "#{format_num @amortization.processing_fees}", :disabled=> "true" }
                      .col-md-6
                        %label.text-muted Downpayment:
                        %input.form-control#pro{ :value=> "#{format_num @amortization.downpayment}", :disabled=> "true" }
                    .form-row
                      .col-md-12
                        %label.text-muted Total Processing fees and downpayment:
                        %input.form-control#pro{ :value=> "#{format_num @amortization.processing_fees + @amortization.downpayment}", :disabled=> "true" }

                    %hr
                    .form-row
                      .col-md-12
                        %label.text-muted Principal Balance:
                        %input.form-control#pro{ :value=> "#{format_num @amortization.contract_price - (@amortization.downpayment + @amortization.processing_fees)}", :disabled=> "true" }
                    %hr
                    .form-row
                      .col-md-6
                        %label.text-muted Terms:
                        %input.form-control#pro{ :value=> "#{format_num @amortization.terms}", :disabled=> "true" }
                      .col-md-6
                        %label.text-muted Interest:
                        %input.form-control#pro{ :value=> "#{format_num @amortization.interest}", :disabled=> "true" }
                    .form-row
                      .col-md-6
                        %label.text-muted Monthly Amortization:
                        %input.form-control#pro{ :value=> "#{format_num @amortization.monthly_amort}", :disabled=> "true" }
                      .col-md-6
                        %label.text-muted A/R Account:
                        %input.form-control#pro{ :value=> "#{ArAccount.find(@amortization.ar_account_id).name}", :disabled=> "true" }
                      -# - if @amortization.ar_account_id.present?  
                      -#.form-group
                      -#%b Contract date:
                      -#= @amortization.contract_date


                    - terms = @amortization["terms"].to_i
                    - contract_price = @amortization["contract_price"].to_i
                    - processing_fees = @amortization["processing_fees"].to_i
                    - downpayment = @amortization["downpayment"].to_f
                    - interest_rate = @amortization["interest"].to_i
                    - balance =  contract_price.to_f - (downpayment.to_f)
                    - monthly_amort = FinanceMath::Loan.new(nominal_rate: interest_rate, duration: terms, amount: balance).pmt

                    -#%p
                      -#%strong Principal Balance:
                      -#= sprintf "%.2f", @amortization["balance"]
                      -#- @amortization.update(balance: balance)

              -#.card-footer
                -#.form-row
                  -#.form-group.col-md-6
                    -#= link_to 'Edit', edit_amortization_path(@amortization), :class=> " btn btn-sm btn-primary col-md-12"
                  -#.form-group.col-md-6
                    -#= link_to 'Back', amortizations_path, :class=> " btn btn-sm btn-primary col-md-12"

    / End Page Header
    / Default Light Table
    .row
      .col
        %table#profiles.table.table-striped.table-bordered.nowrap
          %thead
            %tr
              %th #
              %th Period
              %th Principal
              %th Interest
              %th Total
              %th Balance
              %th Is Paid?

          %tbody
            %tr
              %td
              %td
              %th 
              %td
              %td
              %td 
                = format_num @amortization.contract_price - (@amortization.downpayment + @amortization.processing_fees)
              %td 
            - total_principal = 0
            - total_interest = 0
            - @amortization.amortization_line_items.order("period asc").each do |ai|
              %tr
                %td 
                  = ai.term
                %td 
                  = ai.period.strftime("%b-%Y")
                %td
                  = format_num ai.principal
                  - total_principal += ai.principal
                %td
                  = format_num ai.interest
                  - total_interest += ai.interest
                %td
                  = format_num ai.monthly_amort
                %td
                  = format_num ai.balance
                %td
                  - if ai.is_paid == true
                    Paid
                  - else
                    Unpaid
            %tr
              %td
                %strong.hidden= @amortization.amortization_line_items.count+1
              %td
                Total
              %td
                = format_num total_principal
              %td
                = format_num total_interest
              %td
              %td
              %td
                                   