.twelvecol
  .page-header
    %h2.widget.widget-header= t('categories.new.category')
  = form_for @category do |f|
    .threecol
    .ninecol.last
      - if @category.errors.any?
        #error_explanation
          %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
    
    .form-groups
      = f.label :merchant_id
      = f.select 'merchant_id', options_for_select(Merchant.all.order(:name).collect{ |u| [u.name, u.id] }), :class => 'form-control'
    .form-group
      = f.label :name
      = f.text_field :name, :class => 'form-control'
    .form-group
      = f.label :image
      %br/
      = f.file_field :image, id: :category_image
    .form-group
      = f.submit 'Save', :class => 'btn btn-blue btn-large'
        


