- content_for :title, 'Categories'
- content_for :breadcrumb, "Stores"
.twelvecol
  .page-header
    = link_to new_category_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: t('categories.index.add_tooltip') do
      %i.icon-plus
    %h2.widget.widget-header= t('categories.index.categories')
  - if @categories.empty?
    .widget.widget-content
      .helper-notification
        %p= t('categories.index.no_records')
        %i.icon-lab
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover#exportables{:role => 'datatable'}
        %thead
          %tr
            %th= t('categories.index.name')
            %th= t('categories.index.image')
            %th
        %tbody
          - @categories.each do |category|
            %tr
              %td
                = category.name
              %td
                = category.image
              %td
                = link_to 'Show', category
                = link_to 'Edit', edit_category_path(category)
                = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $(document).ready(function(){
    $('#exportables').DataTable({
      dom: 'Blfrtip',
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      buttons: [
        {extend: 'excel', 
        exportOptions: {
          title: 'Categories',
          columns: 'th:not(:last-child)'
        }
        },
        {extend: 'print',
          title: 'Categories',
          orientation: 'landscape',
          pageSize: 'LEGAL',
          exportOptions: {
          columns: 'th:not(:last-child)'
        },
          customize: function (win){
          $(win.document.body).addClass('white-bg');
          $(win.document.body).css('font-size', '10px');
          $(win.document.body).find('.actions').css('display', 'none');
          
          }
        }
      ],
      });
      $(".buttons-print").addClass("btn-dt");
      $(".buttons-html5").addClass("btn-dt");
      
    $("table[role='datatable']").each(function(){
      $(this).DataTable({
        processing: true,
        responsive: true       
      });
    });

  })