- content_for :title, 'Variants'
- content_for :breadcrumb, "Stores"
.main-content-container.container-fluid.px-4
  .page-header.no-gutters.py-4
    %nav{"aria-label" => "breadcrumb"}
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{:href => "/merchants"}
            = @product.category.merchant.name
        %li.breadcrumb-item
          %a{:href => "/categories/#{@product.category.id}"}
            = @product.category.name
        %li.breadcrumb-item
          %a{:href => "/products/#{params['id']}"} 
            = @product.name
    .col-12.text-center.text-sm-left.mb-0
      .col-6.float-left
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title.col-6= t('variants.index.variants')
      .col-6.float-right
      = link_to new_product_variant_path(params['id']), :class => "btn btn-primary float-right mt-3 btn-sm ", "data-placement" => "bottom", "data-toggle" => "tooltip", title: t('variants.index.add_tooltip') do
        %b Add Variants
    - if @variants.empty?
      .widget.widget-content.clearfix
        .helper-notification
          %p= t('variants.index.no_records')
    - else
      .table-responsive.card.card-small.mt-5
        .card-body.p-0.pb-3.text-center
          %table.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th= t('variants.index.name')
                %th= t('variants.index.image')
                %th= t('variants.index.price')
            %tbody
              - @variants.each do |variant|
                %tr
                  %td
                    = variant.name
                  %td
                    = variant.image
                  %td
                    = variant.price
                  %td
                    = link_to 'Show', variant
                    = link_to 'Edit', edit_variant_path(variant)
                    = link_to 'Destroy', variant, method: :delete, data: { confirm: 'Are you sure?' }


:javascript
  $(document).ready(function(){
    $('#exportables').DataTable({
      dom: 'Blfrtip',
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      buttons: [
        {extend: 'excel', 
        exportOptions: {
          title: 'Variants',
          columns: 'th:not(:last-child)'
        }
        },
        {extend: 'print',
          title: 'Variants',
          orientation: 'landscape',
          pageSize: 'LEGAL',
          exportOptions: {
          columns: 'th:not(:last-child)'
        },
          customize: function (win){
          $(win.document.body).addClass('white-bg');
          $(win.document.body).css('font-size', '10px');
          $(win.document.body).find('.actions').css('display', 'none');
          
          }
        }
      ],
      });
      $(".buttons-print").addClass("btn-dt");
      $(".buttons-html5").addClass("btn-dt");
      
    $("table[role='datatable']").each(function(){
      $(this).DataTable({
        processing: true,
        responsive: true       
      });
    });

  })

