- content_for :title, 'Everyday'
- content_for :breadcrumb, "Stores"
.main-content-container.container-fluid.px-4
  .page-header.no-gutters.py-4
    .col-12.text-center.text-sm-left.mb-0
      .col-6.float-left
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title.col-6= t('everydays.index.everydays')
      .col-6.float-right
      = link_to new_everyday_path, :class => "btn btn-primary float-right mt-3 btn-sm ", "data-placement" => "bottom", "data-toggle" => "tooltip", title: t('everydays.index.add_tooltip') do
        %b Add Everyday
  - if @everydays.empty?
    .widget.widget-content.clearfix
      .helper-notification
        %p= t('everydays.index.no_records')
  - else
    .table-responsive.card.card-small.mt-5
      .card-body.p-0.pb-3.text-center
        %table.table.table-hover
          %thead
            %tr
              %th= t('everydays.index.name')
              %th= t('everydays.index.image')
              %th= t('everydays.index.category')
              %th= t('everydays.index.descrption')
              %th Actions
          %tbody
            - @everydays.each do |everyday|
              %tr
                %td
                  = everyday.name
                %td.add
                  = everyday.image
                %td
                  = everyday.category
                %td
                  = everyday.description
                %td
                  .dropdown.dropdown-action
                    %a.action-icon{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                      %i.fa.fa-ellipsis-v
                    .dropdown-menu.dropdown-menu-right
                      = link_to edit_everyday_path(everyday), :class => "dropdown-item" do 
                        %i.fa.fa-pencil.m-r-5
                        #text
                          Edit
                      = link_to  everyday, method: :delete, data: { confirm: 'Are you sure?' }, :class => "dropdown-item" do 
                        %i.fa.fa-remove.m-r-5
                        #text
                          Delete