%section#view_cart
  %h6.cart-details.border-bottom Crib
  / Form Controls: Simple Forms
  .items
    - total = 0
    - @order.order_items.each do |item|
      .accordion-item{"data-id" => "301"}
        .product-info
          .upper-product-info
            .product-qty
              %input.i_quantity{:class=> 'box-qty',:id=>"#{item.id}", :onchange=>"update_qty(this.id, this.value)", :value => "#{item.quantity}"}
            .product-text
              %h2 #{item.variant.name}
              %p.description x ₱#{item.variant.price}
            %p.price{:id=>"p_#{item.id}"} ₱#{item.quantity * item.variant.price}
            - total += item.quantity * item.variant.price
    .details-section
      .total
        %h3 Sub Total
        %h3.total-value ₱#{total}
        %input.total-value{:name => "gross_amount", :type => "hidden", :value => "1695"}/
      .total
        %h3 Delivery
        
        %input.total-value{:name => "gross_amount", :type => "hidden", :value => "1695"}/
        %pre#delivery_fee
        %pre#total_delivery_fee

          
      .amount.border-top
        %h3.pt-2 Total Amount
        %h3.total-value.pt-2.total_price ₱#{total}
        %input.total-value{:name => "gross_amount", :type => "hidden", :value => "#{total}"}/
    -#%button.btn.btn-block.btn-primary#checkout{display: false}
      -#CHECKOUT

:javascript
  function update_qty(id, value){
    console.log(id, value);
    $.ajax({
      url: "/order_items/"+id, // this will be routed
      type: 'PUT',
      data: {
        order_item: {quantity: value,
        id: id}
      },
      async: true,
      dataType: "json",
      error: function(XMLHttpRequest, errorTextStatus, error){
          alert("Failed: "+ errorTextStatus+" ;"+error);
      },
      success: function(data){
        $('#p_'+id).html('₱'+data['item_price']);
        $('.total_price').html('₱'+data['total']);
      }
    });
  }

  