/ Category Section  
%section#category.container
  #grocery
    %h4.section-title Everyday Groceries
    .card-swipe.no-scrollbar
      - @everydays.where(category: 'Grocery').each do |g|
        .card-item
          .card-con
            %img.card-img-top{:src => g.image.to_s.gsub("http", "https")}/
            .card-con-body
              %h6 
                = g.name  
              %p
                = g.description   
              %button 
                = link_to "Order Now", g.ev_order   
  #booze
    %h4.section-title Everyday Booze!
    .card-swipe.no-scrollbar
      - @everydays.where(category: 'Booze').each do |g|
        .card-item
          .card-con
            %img.card-img-top{:src => g.image.to_s.gsub("http", "https")}/
            .card-con-body#boz
              %h6 
                = g.name  
              %p
                = g.description   
              %button 
                = link_to "Order Now", g.ev_order

