%section#forms#checkout-wrapper.mobile
  / Form Controls
  = form_for @order, url: "/store/pending/?messenger_id=#{params['messenger_id']}" do |o|
    .row
      .example.col-lg-12.col-md-12#form-details 
        %h6 Delivery Address
        / Delivery Address
        .row
          .col-md-12
            #delivery_details
              .form-group
                = o.text_field :address, {:type => "text", :name=> "delivery_address_attributes", :placeholder => "Complete Address here", :id => 'address_input', :class => 'form-control'}
                = o.hidden_field :coordinates, {:type => "hidden", :id => 'latLong', :class => 'form-control'}
                = o.hidden_field :order_id, value: @order.id, id: "order_id"
                #map
                
              .form-group
                = o.text_field :company_name, {:type => "text", :placeholder => "Apt Number / Company Name", :id => 'form1-apt', :class => 'form-control'}
              .row
                .form-group.col-md-6
                  = o.text_field :custumer_name, {:type => "text", :placeholder => "Complete Name", :id => 'form1-name', :class => 'form-control'}
                .form-group.col-md-6
                  = o.text_field :contact_no, {:type => "text", :placeholder => "Phone Number", :id => 'form1-phone', :class => 'form-control'}
              .form-group
                = o.text_field :message, {:type => "text",:placeholder => "Add delivery instructions", :class => 'form-control'}
              .actions
                / %button.btn.btn-primary.float-right{:type => "button"} Send  
        %h6 Time
        .form-row#col
          .col
            %input#form1-number.form-control{:placeholder => "Today", :type => "text"}/
          .col  
            %input#form1-phone.form-control{:placeholder => "30 - 45 mins", :type => "number"}/
        %h6 Select Payment
        .form-group.container#checkout
          .custom-control.custom-radio
            = o.radio_button :payment_option, "cash", checked: true, :class=> "custom-control-input"
            %label.custom-control-label{:for => "radio"} Cash on Delivery

        .bg2    
          = render 'cart'
      = o.submit 'Continue', :class => 'btn btn-primary form-btn btn-out'
              
%script{:async => "", :defer => "defer", :src => "/initmap.js"}
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCkA6UUfUflPmL3pkQvbN_tUpS-hAT-RbY&libraries=places&callback=initMap"}
