#promos.blog.section.py-4.container
  %h4.section-title.m-3 Popular Items
  .menu
    .card-deck.row
      .col-md-12.col-lg-6 
        .card.menu-box 
          .menu-left
            %p Cribs Wings
            %h6 Descrion food here
            %h5.text-primary P 300.00
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
      .col-md-12.col-lg-6 
        .card.menu-box 
          .menu-left
            %p Cribs Wings
            %h6 Descrion food here
            %h5.text-primary P 300.00
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/

  - @categories.each do |category|
    %h4.section-title.m-3
      = category.name
    .menu
      .card-deck.row
        - category.products.each do |product|
          = link_to "/store/#{params['id']}/cart/?product=#{product.id}&messenger_id=#{params['messenger_id']}" do
            .col-md-12.col-lg-6 
              .card.menu-box 
                .menu-left
                  %p
                    = product.name
                  %h6
                    - if product.description.present?
                      = product.description
                    - else
                      Description not available
                  %h5.text-primary
                    = link_to 'View', "/store/#{params['id']}/cart/?product=#{product.id}&messenger_id=#{params['messenger_id']}"
                %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          