%body{"data-offset" => "-20", "data-spy" => "scroll", "data-target" => ".list-group", }

  %section#menu-list
    %nav.navbar.bg-primary
      %h6.text-white Category 
    .container
      %h4.section-title Popular Items

      - @populars.each do |popular|
        - pop = Variant.find(popular[0])
        .col-md-12.col-lg-6 
          .card.menu-box 
            .menu-left
              %p #{pop.name}
              %h5.text-primary #{pop.price}
            %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/

      .list-group
        .stickyhero-tabs-container.scrollbar
          - @categories.each do |category|
            %a.list-group-item.list-group-item-action{:href => "##{category.name.gsub(" ", "")}"} #{category.name}

      - @categories.each do |category|
        %div{id: category.name.gsub(" ", "")}
          %h6  #{category.name}
          - category.products.each do |product|
            .card.menu-box 
              .menu-left
                %h4
                  = product.name
                %h6
                  - if product.description.present?
                    = product.description
                  - else
                    Description not available
                %h5
                  = link_to 'View', "/store/#{params['id']}/cart/?product=#{product.id}&messenger_id=#{params['messenger_id']}"
        %hr


:css
  body{
    position: relative;
  }
  