%section#menu-list
  %nav.navbar.bg-primary
    %h6.text-white Category 
  .container
    %h4.section-title Popular Items

    - @populars.each do |popular|
      - pop = Variant.find(popular[0])
      .col-md-12.col-lg-6 
        .card.menu-box 
          .menu-left
            %p #{pop.name}
            %h5.text-primary #{pop.price}
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/

    %section.stickyhero-tabs
      .stickyhero-tabs-container.scrollbar
        - @categories.each do |category|
          %a.stickyhero-tab{:href => "##{category.name}"} #{category.name}
        %span.stickyhero-tab-slider

    %main.stickymain
      - @categories.each do |category|
        %section{id: category.name, class: "stickyslide"}
          %h6  #{category.name}
          - category.products.each do |product|
            = link_to "/store/#{params['id']}/cart/?product=#{product.id}&messenger_id=#{params['messenger_id']}" do
              .card.menu-box 
                .menu-left
                  %h4
                    = product.name
                  %h6
                    - if product.description.present?
                      = product.description
                    - else
                      Description not available
                  %h5
                    = link_to 'View', "/store/#{params['id']}/cart/?product=#{product.id}&messenger_id=#{params['messenger_id']}"