%section#promos.container
	%h4.section-title Featured
	.row
		- if @promos.empty?
			%li.item 
				.card
					.welcome-heading-sub
						%p.welcome-sub Share us on Facebook
						%p.welcome-sub2 Get a free delivery when you share
					%img.card-img-top{:alt => "Card image cap", :src => "/burger.png"}/
			%li.item
				.card
					.welcome-heading-sub
						%p.welcome-sub Share us onaebook
						%p.welcome-sub2 Get a free delivery when you share
					%img.card-img-top{:alt => "Card image cap", :src => "/burger.png"}/
				
		- else
			.card-swipe.no-scrollbar
				- @promos.each do |promo|
					.card-item-promo
						.card-con-promo
							= link_to image_tag("#{promo.image.to_s.gsub("http", "https")}"), "/store/menu/#{promo.id}?messenger_id=#{params['messenger_id']}"
							#promo-con
								%h3 
									= promo.title 
								%h4 
									= promo.desc
								%h5 
									= promo.sub_desc
								%button 
									= promo.url
					