%ul
  %li{:class => "#{active_controller?(controller: 'admin')}"}
    = link_to '/dashboard', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Dashboard' do
      %i.icon-dashboard
      %span Dashboard
  %li{:class => "#{active_controller?(controller: 'merchant')}"}
    = link_to merchants_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Stores' do
      %i.icon-lab
      %span Merchants
  %li{:class => "#{active_controller?(controller: 'category')}"}
    = link_to categories_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Stores' do
      %i.icon-lab
      %span Categories
  %li{:class => "#{active_controller?(controller: 'product')}"}
    = link_to products_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Products' do
      %i.fa.fa-th-large
      %span Products
  %li{:class => "#{active_controller?(controller: 'driver')}"}
    = link_to drivers_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Drivers' do
      %i.fa.fa-th-large
      %span Drivers
  %li{:class => "#{active_controller?(controller: 'order')}"}
    = link_to orders_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Orders' do
      %i.icon-box-add
      %span Orders
%ul#secondary-menu
  %li
    = link_to root_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Storefront', target: '_blank' do
      %i.icon-screen
      %span Storefront
  / %li{:class => "#{active_controller?(controller: 'admin/admin', action: 'settings')}"}
  /   = link_to admin_settings_path, 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => 'Settings' do
  /     %i.icon-cog
  /     %span Settings
  %li{:class => "#{active_controller?(controller: 'admin/admin', action: 'settings')}"}
    = link_to destroy_user_session_path, method: :delete do
      %i.icon-switch
      Logout
#extend-sidebar
  %i.icon-forward-3
  %span Close
