/ Main Sidebar
%aside.main-sidebar.col-12.col-md-3.col-lg-2.px-0
  .main-navbar
    %nav.navbar.align-items-stretch.navbar-light.bg-white.flex-md-nowrap.border-bottom.p-0
      %a.navbar-brand.w-100.mr-0{:href => "#", :style => "line-height: 25px;"}
        .d-table.m-auto
          %span.d-md-inline JuanRide
      %a.toggle-sidebar.d-sm-inline.d-md-none.d-lg-none
        %i.material-icons 
  %form.main-sidebar__search.w-100.border-right.d-sm-flex.d-md-none.d-lg-none{:action => "#"}
    .input-group.input-group-seamless.ml-3
      .input-group-prepend
        .input-group-text
          %i.fas.fa-search
      %input.navbar-search.form-control{"aria-label" => "Search", :placeholder => "Search for something...", :type => "text"}/
  .nav-wrapper
    %ul.nav.flex-column
      %li.nav-item{:class => "#{active_controller?(controller: 'admin')}"}
        /= link_to '/dashboard', 'data-toggle' => 'tooltip', 'class' => 'nav-link', 'data-placement' => 'right', 'data-original-title' => 'Dashboard' do
        %a.nav-link{:href => "/dashboard", :class => "#{ 'active' if current_page?(dashboard_path)}"}    
          %i.material-icons edit
          %span Dashboard
      %li.nav-item{:class => "#{active_controller?(controller: 'store_type')}"}
        %a.nav-link{:href => "/store_types", :class => "#{ 'active' if current_page?(store_types_path)}"}
          %i.material-icons vertical_split
          %span Store Types
      %li.nav-item{:class => "#{active_controller?(controller: 'merchant')}"}
        %a.nav-link{:href => "/merchants", :class => "#{ 'active' if current_page?(merchants_path)}"}
          %i.material-icons vertical_split
          %span Merchants
      %li.nav-item{:class => "#{active_controller?(controller: 'category')}"}
        %a.nav-link{:href => "/categories", :class => "#{ 'active' if current_page?(categories_path)}"}
          %i.material-icons note_add
          %span Category
      %li.nav-item{:class => "#{active_controller?(controller: 'product')}"}
        %a.nav-link{:href => "/products", :class => "#{ 'active' if current_page?(products_path)}"}
          %i.material-icons view_module
          %span Products
      %li.nav-item{:class => "#{active_controller?(controller: 'orders')}"}
        %a.nav-link{:href => "/orders", :class => "#{ 'active' if current_page?(orders_path)}"}
          %i.material-icons table_chart
          %span Orders
      %li.nav-item{:class => "#{active_controller?(controller: 'driver')}"}
        %a.nav-link{:href => "/drivers", :class => "#{ 'active' if current_page?(drivers_path)}"}
          %i.material-icons table_chart
          %span Drivers
      %li.nav-item{:class => "#{active_controller?(controller: 'everydays')}"}
        %a.nav-link{:href => "/everydays", :class => "#{ 'active' if current_page?(everydays_path)}"}
          %i.material-icons table_chart
          %span Everydays
      %li.nav-item{:class => "#{active_controller?(controller: 'promos')}"}
        %a.nav-link{:href => "/promos", :class => "#{ 'active' if current_page?(promos_path)}"}
          %i.material-icons table_chart
          %span Featured
      %li.nav-item{:class => "#{active_controller?(controller: 'settings')}"}
        %a.nav-link{:href => "/settings", :class => "#{ 'active' if current_page?(settings_path)}"}
          %i.material-icons table_chart
          %span Settings
      %li.nav-item{:class => "#{active_controller?(controller: 'store')}"}
        %a.nav-link{:href => "/sstore_index", :class => "#{ 'active' if current_page?(store_index_path)}"}
          %i.material-icons table_chart
          %span Storefront
      