!!!
%html
  %head
    %link{:href => "https://use.fontawesome.com/releases/v5.9.0/css/all.css", :rel => "stylesheet"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css", :rel => "stylesheet"}/

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title JuanRide
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.h-100
    .container-fluid
      .row
        - if current_user.present?
          = render 'layouts/sidebar'
        = yield